/* banner style  */
.banner-part{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-left: 0px;
    background-color: #263B5E;
    
}
.banner-image{
    width: 88%;
    border-radius: 10px;
    margin-left: 20px;
}
/* input field style  */
.input{
    margin-right: 10px;
    padding-right: 50px;
    padding-top: 15px;
}
/* button style  */
.search-button{
    color: white;
    background-color: #FF1949;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
}
.search-button:hover{
    background-color: #263B5E;
    transition: ease-in-out 0.2s;
    border: 1px solid #FF1949;
}
 /* single course style  */
.single-course{
    display: flex;
}
.single-course img{
    width: 100%;
    border-radius: 10px;    
}
/* online course style  */
.online-courses{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 100px;
}
.course-container{
    margin-top: 100px;
    display: grid;   
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
/* text style  */
.trending, .popular{
    color: #FF1949;
    font-weight: bold;
}
.popular{
    color: #263B5E;
    font-weight: bold;
    padding-bottom: 15px;
    position: relative;
    display: inline-block;
}
/* text below line style  */
.popular::after{
    content: '';
    height: 2px;
    width: 10%;
    background: #FF1949;
    position: absolute;
    left:45%;
    bottom: 0;
}
.expert{
    color: white;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
}
/* text below line style  */
.expert::after{
    content: '';
    height: 2px;
    width: 30%;
    background: #FF1949;
    position: absolute;
    left:0;
    bottom: 0;
}