.image{
    width: 100%;
}
.image img{
    height: 100%;
}
.single-course{
    border-radius: 10px;
    box-shadow: 8px 8px 20px #888888;
    text-align: left;
    padding-bottom: 10px;
}
.information{
    margin-left: 20px;
    margin-top: 10px;
}
.prices{
    color: #FF1949;
    font-weight: bold;
}
.title{
    color: #263B5E;
}
.instructor {
    margin-right: 5px;
    color: #F2B827;
    font-weight: bold;
}
