/* course image part style  */
.image{
    width: 100%;
}
.image img{
    height: 100%;
}
/* single-course style */
.single-course{
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    box-shadow: 8px 8px 20px #888888;
    text-align: left;
    padding-bottom: 10px;
}
.single-course:hover{
    transform: scale(1.025);
    transition: ease-in-out 0.5s ;
}
/* information style */
.information{
    margin-left: 20px;
    margin-top: 10px;
}
.prices{
    color: #FF1949;
    font-weight: bold;
}
.title{
    color: #263B5E;
}
/* instructor style */
.instructor {
    margin-right: 5px;
    color: #FF1949;
    font-weight: bold;
}
